@model SIS.Domain.Transaction

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityOnHandDist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityOnHandDist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityOnHandStor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityOnHandStor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityOnHandSub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityOnHandSub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityChangeDist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityChangeDist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityChangeStor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityChangeStor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityChangeSub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityChangeSub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
