@model SIS.Domain.Department

@{
    ViewBag.Title = "Edit Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <div style="max-width:600px;margin:0 auto;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h3>Edit Department</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">Department Details</div>
                    <div class="panel-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Id,"Dept", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9 form-display-field">
                                @Html.DisplayFor(model => model.Id, new { @class = "form-control" })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control big-text" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-2">
                            <a href="/Departments/Index" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Cancel</a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-md-offset-2 col-sm-offset-2" style="padding-right:15px;">
                            <input type="submit" value="Save" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
