@model IEnumerable<SIS.Domain.ItemLocation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Item Locations</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Item Number")
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Location")
        </th>
        <th>
            @Html.DisplayName("Qty Onhand")
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ItemId, "Details", "Items", new { id = item.ItemId}, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Name)
        </td>
        <td>
            @Html.ActionLink(item.LocationId, "Details", "Locations", new { id = item.LocationId}, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityOnHand)
        </td>
        <td>
        </td>
    </tr>
}

</table>
