@model SIS.Domain.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container view-container">
    <h2>Item Details</h2>
    <div class="row">
        
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Item Details</div>
        <div class="panel-body">
            <div style="margin-left:100px;">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayName("Number")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Id)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Unit)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Unit)
                    </dd>

                    <dt>
                        @Html.DisplayName("Unit Cost")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>

                    <dt>
                        @Html.DisplayName("Reorder Level")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ReorderPoint)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Comment)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Comment)
                    </dd>

                </dl>
            </div>
            
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <a href="/Items/Index" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back To List</a>
                </div>
                <div class="col-md-4 col-sm-4 col-md-push-1 col-sm-push-1">
                    <a href="/Items/Edit/@Model.Id" class="btn btn-success" style="margin-right:15px;"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a href="/Items/Delete/@Model.Id" class="btn btn-danger" style="margin-right:15px;"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Locations</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Qty On Hand</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.ItemLocations.Count; i++)
                    {
                        var location = Model.ItemLocations.ToList()[i];
                        <tr>
                            <td>@Html.DisplayFor(item => item.ItemLocations.ToList()[i].LocationId)</td>
                            <td>@Html.DisplayFor(item => item.ItemLocations.ToList()[i].QuantityOnHand)</td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<div class="row">
                <div class="pull-right col-md-2 col-sm-2">
                    <a href="/Items/EditLocations/@Model.Id" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                </div>
            </div>*@
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Supplier</div>
        <div class="panel-body">
            <dl class="dl-horizontal">

                <dt>@Html.DisplayName("Supplier")</dt>
                <dd>@Html.DisplayFor(model => model.Supplier.Name)</dd>

                <dt>
                    @Html.DisplayName("Address")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Supplier.Address)
                </dd>

                <dt>
                    @Html.DisplayName("Address 2")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Supplier.Address2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Supplier.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Supplier.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Supplier.State)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Supplier.State)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Supplier.Zip)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Supplier.Zip)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Supplier.Comment)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Supplier.Comment)
                </dd>

            </dl>
            <div class="row">
                <div class="pull-right col-md-2 col-sm-2">
                    <a href="/Suppliers/Edit/@Model.SupplierId" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                </div>
            </div>
        </div>
    </div>


    <br />
    
</div>


