@model SIS.Domain.Item

@{
    ViewBag.Title = "Edit Item Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div style="max-width:650px;margin:0 auto;">
        <h3>Edit Item Locations</h3>

        <div class="panel-group">
            <div class="panel panel-default panel-sis">
                <div class="panel-heading panel-heading-sis">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            @Html.HiddenFor(model => model.Id)
                            @Html.LabelFor(model => model.Id, "Item Number", htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.DisplayFor(model => model.Id)
                        </div>
                        <div class="col-md-3 col-sm-3">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.DisplayFor(model => model.Name)
                        </div>
                        <div class="col-md-3 col-sm-3">
                            @Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.DisplayFor(model => model.Unit)
                        </div>
                        <div class="col-md-3 col-sm-3">
                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.DisplayFor(model => model.Price)
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="demo-container">
                        <div id="gridContainer"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <a href="~/Items/Details/@Model.Id" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Item Details</a>
            </div>
            <a id="ajax-updatelocation" href="~/Items/UpdateLocation/"></a>
            <a id="ajax-addlocation" href="~/Items/AddLocation/"></a>
            <a id="ajax-removelocation" href="~/Items/RemoveLocation/"></a>
            <a id="ajax-locationdata" href="~/Items/LocationsData/"></a>
            <a id="ajax-indexdata" href="~/Locations/IndexData"></a>
            
            
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        // Function for loading data in the table
        $(function () {
            var updateLocationUrl = $('#ajax-updatelocation').attr("href");
            var addLocationUrl = $('#ajax-addlocation').attr("href");
            var removeLocationUrl = $('#ajax-removelocation').attr("href");
            var locationDataUrl = $('#ajax-locationdata').attr("href");
            var indexDataUrl = $('#ajax-indexdata').attr("href");

            // Setup for all ajax calls on this page.
            // Disable caching needed for proper data grid editing in Internet Explorer
            $.ajaxSetup({ cache: false });

            // Main source for datagrid
            var getDataSource = function () {
                var timeOut = null;
                var updateTasks = [];
                var insertTasks = [];
                var deleteTasks = [];

                // Function to execute ajax requests for all table editing
                var pushEdits = function () {

                    //Ajax call for each location to update (i.e. move)
                    $.each(updateTasks, function (index, task) {
                        task.deferred.resolve(
                            $.ajax({
                                url: updateLocationUrl + task.key,
                                type: "POST",
                                data: JSON.stringify(task.values),
                                contentType: 'application/json',
                                success: function (result) {
                                    task.deferred.resolve(result);
                                    //location.reload();
                                },
                                error: function (resp) {
                                    task.deferred.reject("Data Loading Error");
                                },
                                timeout: 5000
                            })
                        );
                    });
                    updateTasks = [];
                    timeOut = null;

                    //Ajax call for each location to insert (i.e. add new location)
                    $.each(insertTasks, function (index, task) {
                        task.deferred.resolve(
                            $.ajax({
                                url: addLocationUrl + task.key,
                                type: "POST",
                                data: JSON.stringify(task.key),
                                contentType: 'application/json',
                                success: function (result) {
                                    return task.deferred.resolve(result);
                                    //location.reload();
                                },
                                error: function (resp) {
                                    task.deferred.reject("Data Loading Error");
                                },
                                timeout: 5000
                            })
                        );
                    });
                    insertTasks = [];
                    timeOut = null;

                    //Ajax call for each locaiton to delete
                    $.each(deleteTasks, function (index, task) {
                        task.deferred.resolve(
                            $.ajax({
                                url: removeLocationUrl,
                                type: "POST",
                                data: JSON.stringify(task.key),
                                contentType: 'application/json',
                                success: function (result) {
                                    task.deferred.resolve(result);
                                    //location.reload();
                                },
                                error: function (resp) {
                                    task.deferred.reject("Data Loading Error");
                                },
                                timeout: 5000
                            })
                        );
                    });
                    deleteTasks = [];
                    timeOut = null;
                    // Reload after updates to make sure page is up to date (there were some issues with IE);
                    location.reload();
                };

                // Settings for main datagrid source
                var settings = {
                    key: ['ItemId','LocationId'],
                    load: function (loadOptions) {
                        var d = $.Deferred();
                        args = {};

                        if (loadOptions.sort) {
                            args.orderby = loadOptions.sort[0].selector;
                            if (loadOptions.sort[0].desc)
                                args.orderby += " desc";
                        }

                        args.skip = loadOptions.skip || 0;
                        args.take = loadOptions.take || 12;
                        var itemId = $('#Id').val();

                        // Ajax call to the controller to get the data
                        $.ajax({
                            url: locationDataUrl + itemId,
                            type: "GET",
                            data: args,
                            success: function (result) {
                                d.resolve(result, { totalCount: result.length });
                            },
                            error: function (resp) {
                                console.log(resp);
                                d.reject("Data Loading Error");
                            },
                            timeout: 5000
                        });
                        return d.promise();
                    },
                    // Called when a row is updated and saved
                    update: function (key, values) {
                        if (!timeOut) {
                            timeOut = setTimeout(pushEdits, 100);
                        }
                        values["ItemId"] = key.ItemId;
                        var d = new $.Deferred();
                        updateTasks.push({
                            key: key.LocationId,
                            values: values,
                            deferred: d
                        });
                        return d.promise();
                    },
                    // Called when a row is inserted and saved
                    insert: function (key, values) {
                        if (!timeOut) {
                            timeOut = setTimeout(pushEdits, 100);
                        }
                        key["ItemId"] = $('#Id').val();
                        var d = new $.Deferred();
                        insertTasks.push({
                            key: key,
                            deferred: d
                        });
                        return d.promise();
                        //store.reload();
                        //var test = d.promise();
                    },
                    // Called when a row is removed
                    remove: function (key, values) {
                        if (!timeOut) {
                            timeOut = setTimeout(pushEdits, 100);
                        }
                        var d = new $.Deferred();
                        deleteTasks.push({
                            key: key,
                            deferred: d
                        });
                        return d.promise();
                    }
                };

                // Data source for main data grid
                return new DevExpress.data.DataSource(settings);
            }

            // Locations store for drop-box
            var loations = new DevExpress.data.CustomStore({
                byKey: function (key) {
                    console.log('key');
                    console.log(key);
                    return key;
                },
                load: function (loadOptions) {
                    var deferred = $.Deferred();
                    $.ajax({
                        url: indexDataUrl,
                        type: "GET",
                        success: function (result) {
                            deferred.resolve(result, { totalCount: result.length });
                        },
                        error: function (resp) {
                            deferred.reject("There was a problem. Please contact technical support with Error Code: HDT404.");
                            //console.log(resp);
                        },
                        timeout: 5000
                    });
                    return deferred.promise();
                }
            });

            // Main data grid definition
            $("#gridContainer").dxDataGrid({
                dataSource: getDataSource(),
                cacheEnabled: false,
                //keyExpr: "LocationId",
                editing: {
                    mode: "batch",
                    allowUpdating: true,
                    allowDeleting: true,
                    allowAdding: true,
                    texts: {
                        addRow: 'Add location'
                    }
                },
                columns: [
                    {
                        caption: "Location",
                        dataField: "LocationId",
                        // Lookup field used for drop-down location selection
                        lookup: {
                            dataSource: loations,
                            valueExpr: 'Id',
                            displayExpr: 'Id'
                        },
                        // Data validation to make sure user doesn't select an existing location
                        validationRules: [{
                            type: "custom",
                            validationCallback: function (selection) {
                                var grid = $('#gridContainer').dxDataGrid("instance");

                                // Don't show validation message if grid has no edits'
                                if (!grid.hasEditData()) {
                                    return true;
                                }

                                // Create array of existing keys
                                var rows = grid.getVisibleRows();
                                var existingKeys = [];
                                $.each(rows, function (_, row) {
                                    existingKeys.push(row.data.LocationId);
                                });

                                // Check if the array returns more than 1
                                var result = existingKeys.indexOf(selection.data.LocationId) === existingKeys.lastIndexOf(selection.data.LocationId);
                                return result;
                                
                            },
                            message: "Location already exists."
                        }]
                    },
                    { caption: "Qty On Hand", dataField: "QuantityOnHand" },

                ],
                // Display text for buttons on the data grid's toolbar
                onToolbarPreparing: function (e) {
                    var toolbarItems = e.toolbarOptions.items;
                    $.each(toolbarItems, function (_, item) {
                        console.log(item);
                        item.showText = "always";
                    });
                }
            }).dxDataGrid("instance");
        });
        
    </script>
}